[Unit]
Description=Open Source Routing Machine
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/osrm-routed -p 5000  --algorithm=MLD --dataset-name=iran-osm-MLD --shared-memory
User=lotus
Group=lotus
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
